@use "mixin";

#buttons {
    grid-row: 2 / 5;
    grid-column: 1 / span 3;

    //Another grid for button positions
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    //Actual button styling
    div {
        @include mixin.centerDiv();

        svg {
            @include mixin.borderRadius();
            border: 1px solid rgb(107, 173, 104);
        }
    }
}