@use "mixin";

#buttons {
    position: relative;
    grid-row: 2 / 3;
    grid-column: 1 / span 3;
    background-color: rgba(34, 195, 155, 0.44);

    //Another grid for button positions
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    //Actual button styling
    #moisture,
    #temperature,
    #emoji {
        @include mixin.centerDiv();
    }

    .buttonBox {
        @include mixin.borderRadius();
        @include mixin.centerDiv();
        @include mixin.fade();
        width: 80px;
        height: 80px;
        flex-direction: column;
        border: 1px solid rgb(114, 184, 100);
        background-color: aliceblue;
    }

    .buttonBox:hover,
    .buttonBox:focus,
    .buttonBox:active {
        @include mixin.fadeHover();
    }

    svg {
        filter: invert(26%) sepia(51%) saturate(476%) hue-rotate(115deg) brightness(96%) contrast(93%);
    }
}
