@use "mixin";

* {
    box-sizing: border-box;
    @include mixin.font();
}

body {
    background-color: whitesmoke;
    background-image: linear-gradient(#90c896 1.5px, transparent 1.5px), linear-gradient(to right, #90c896 1.5px, whitesmoke 1.5px);
    background-size: 30px 30px;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    @include mixin.centerDiv();
}

#root {
    @include mixin.boxShadow();
    @include mixin.borderRadius();
    width: 400px;
    height: 600px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns:repeat(3, auto);
    grid-template-rows: 150px auto 50px;
}

@media (min-width: 300px) and (max-width:600px) {
    #root {
        width: 100vw;
        height: 100vh;
        background-color: whitesmoke;
        background-image: linear-gradient(#90c896 1.5px, transparent 1.5px), linear-gradient(to right, #90c896 1.5px, whitesmoke 1.5px);
        background-size: 30px 30px;
    }
}