//groups of css declarations 

@mixin centerDiv() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin boxShadow() {
    -webkit-box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
}

@mixin borderRadius() {
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
}