//groups of css declarations 
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

@mixin centerDiv() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin boxShadow() {
    -webkit-box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 6px rgba(0, 0, 0, 0.75);
}

@mixin borderRadius() {
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
}

@mixin font() {
    font-family: 'Barlow', sans-serif;
}

@mixin fade() {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

@mixin fadeHover() {
    /* Use hover, focus, active after : */
    background-color: rgb(203, 224, 193);
    color: white;
}